/* assets/css/custom.css */
header.masthead .site-heading,
header.masthead .post-heading,
header.masthead .page-heading {
  display: none !important;
}

header.masthead {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

header.masthead .overlay {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
